.gif1{
    height: 400px;
    max-height: 100%;
    max-width: 30vw;
}
.midtext{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}
img{
    height: 400px;
}
#cute{
    margin: 10px;
    height: auto;
}
body{
    overflow-x: hidden; 
    overflow-y: scroll;
}
#main{
    background-color: rgb(24, 23, 23);
    color: white;
}
h4{
    color: aliceblue;
    margin-left: 20px;
}
.nav-item a{
    color: white;
    margin-right: 10px;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(253,243,212)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar{
    background-color:brown;
}
